<div class="counter-wrapper">
  <h1>Counter</h1>
  <form class='counter'>
    <input type="number" name="counter" id='counter' value='0' />
    <button id='increment'>Increment</button>
    <button id='decrement'>Decrement</button>
  </form>
</div>

<%= javascript_pack_tag 'counter' %>
