<div class="counter-wrapper">
  <% # Using javascript %>
  <div class="header-image">
    <p>Javascript</p>
    <span id="icon"></span>
  </div>

  <h1>Counter (vanilla js)</h1>
  <form class='counter'>
    <input type="number" name="counter" id='counter' value='0' />
    <button id='increment'>Increment</button>
    <button id='decrement'>Decrement</button>
  </form>

  <% # Using ERB %>
  <div class="footer-image">
    <p>ERB</p>
    <%= asset_pack_tag 'clock.png' %>
  </div>

  <% # Using CSS %>
  <div class="css-bg-image">
    <p>Stylesheet</p>
    <div id="css-bg-image"></div>
  </div>
</div>

<%= asset_pack_tag 'counter.js' %>
<%= asset_pack_tag 'counter.css' %>
