<div class="container">
  <div id="react-app"></div>
</div>
 <div id='hello'>
   <app></app>
 </div>

<%= javascript_pack_tag 'hello_react' %>
<%= stylesheet_pack_tag 'hello_react' %>
<%= javascript_pack_tag 'hello_vue' %>
<%= stylesheet_pack_tag 'hello_vue' %>
